@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900|Open+Sans:400,600,700,800&display=swap');

$primary-color: #BF499A;





@mixin sm-size {
    @media(max-width: 767px){
        @content;
    }
}
@mixin md-size {
    @media(max-width: 991px){
        @content;
    }
}
@mixin lg-size{
    @media(max-width: 1200px){
        @content;
    }
}





*{
    font-family: 'Montserrat', sans-serif;
}
*, ::before, ::after{
    box-sizing: border-box;
}
p{
    font-family: 'Open Sans', sans-serif;
}
h1, .logo{
    line-height: 1;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 3px;
}
h1, h2, h3, h4, h5, h6{
    text-transform: capitalize;
}
a{
    transition: 0.5s;
}
a:hover{
    text-decoration: none;
}
.onScroll{
    padding: 10px 15px !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
}
section{
    width: 100%
}
.section-padding{
    padding: 60px 0 40px 0;
}
.section-title{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #111;
    padding-bottom: 15px;
    margin: 0 0 20px 0;
    &::before{
        content: '';
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        height: 1px;
        background-color: #ddd;
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 3px;
        background-color: $primary-color;
    }
}
.section-description{
    color: #333;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
}




header{
    nav{
        padding: 30px 15px !important;
        transition: all 0.5s;
        .navbar-brand{
            position: relative;
            text-transform: uppercase;
            padding-left: 60px;
            @include md-size(){
                padding-left: 0;
            }
            a{
                color: #fff;
                padding-left: 10px;
                border-left: 4px solid $primary-color;
                &:hover{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .navbar-toggler{
            padding-right: 60px;
            border: none;
            @include sm-size(){
                padding-right: 10px;
            }
            &:focus{
                outline: none;
            }
            .icon-bar{
                width: 22px;
                border-radius: 10px;
                height: 3px;
                background-color: #fff;
                margin: 4px 0;
            }
        }
        .navbar-collapse{
            .navbar-nav{
                padding-right: 60px;
                @include md-size(){
                    padding-right: 0;
                }
                .nav-item{
                    margin-left: 10px;
                    .nav-link{
                        font-size: 13px;
                        padding: 0 8px 10px 8px;
                        font-weight: 700;
                        color: #fff;
                        text-transform: uppercase;
                        &.active{
                            color: $primary-color;
                        }
                        &:hover{
                            color: $primary-color;
                        }
                    }

                }
            }
            @include md-size(){
                
            }
        }
        
    }
}

#home{
    .carousel-inner{
        .carousel-item{
            position: relative;
            height: 100vh;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
            }
            .carousel-caption{
                display: flex !important;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h2{
                    font-size: 48px;
                    font-weight: 700;
                    margin-bottom: 30px;
                    @include sm-size(){
                        font-size: 28px;
                    }
                }
                p{
                    width: 60%;
                    margin-bottom: 30px;
                    @include md-size(){
                        width: 80%;
                    }
                }
                .slider-btn{
                    color: #fff;
                    font-weight: 500;
                    font-size: 16px;
                    text-decoration: none;
                    text-transform: capitalize;
                    padding: 8px 32px;
                    margin: 10px;
                    background-color: $primary-color;
                    border-radius: 50px;
                    transition: all 0.3s;
                    &:hover{
                        color: $primary-color;
                        background-color: #fff;
                    }
                }
            }
        }
        .carousel-control-prev, .carousel-control-next{
            width: 5%;
            @include md-size(){
                width: 10%;
            }
        }
    }
}

// ------ Featured Services ------ 
.faetured-services{
    background-color: #000;
    color: #fff;
    .row{
        .my-card{
            padding: 30px 20px;
            i{
                font-size: 48px;
                color: $primary-color;
            }
            h4{
                margin: 15px 0;
                a{
                    font-size: 18px;
                    color: #fff;
                    &:hover{
                        color: $primary-color;
                    }

                }
            }
            p{
                font-size: 14px;
                margin: 0;
            }
        }
    }
}

// ------ About Us ------ 
.about-us{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/bg-image3.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 0.2;
    }
    .row{
        .card{
            border: none;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
            margin-bottom: 20px;
            .card-body{
                position: relative;
                padding-top: 0;
                .my-icon{
                    width: 64px;
                    height: 64px;
                    position: absolute;
                    top: -30px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $primary-color;
                    border: 4px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.2s;
                    i{
                        color: #fff;
                        font-size: 30px;
                    }
                }
                h2{
                    margin: 40px 0 12px 0;
                    text-align: center;
                    a{
                        font-size: 20px;
                        color: #000;
                        font-weight: 700;
                    }
                }
                p{
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            &:hover{
                .my-icon{
                    background-color: #fff;
                    i{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

// ------ Services ------
.services{
    .row{
        position: relative;
        .my-card{
            margin-bottom: 30px;
            .text-area{
                margin-left: 60px;
                h4{
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    transition: 0.3s;
                }
                p{
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            .my-icon{
                position: relative;
                i{
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: $primary-color;
                    font-size: 36px;
                }
                
            }
            &:hover h4{
                color: $primary-color;
            }
        }
    }
}




// .carousel-indicators li {
//     width: 10px;
//     height: 10px;
//     border-radius: 50%;
// }

.filter-nav button{
    border: 1px solid #000;
}